
# https://www.toptal.com/developers/gitignore/api/java,intellij,eclipse에 의해 생성됨
# https://www.toptal.com/developers/gitignore?templates=java,intellij,eclipse에서 편집

### 이클립스 ###
.metadata
큰 상자/
tmp /
* .tmp
* .bak
* .swp
* ~ .nib
local.properties
설정 /
.loadpath
추천자

# 외부 툴 빌더
.externalToolBuilders /

# 로컬로 저장된 "Eclipse launch configuration"
*.시작하다

# PyDev 특정 (Python IDE for Eclipse)
* .pydevproject

# CDT 특정 (C / C ++ 개발 툴링)
.cproject

# CDT- autotools
.autotools

# Java 주석 프로세서 (APT)
.factorypath

# PDT 관련 (PHP 개발 도구)
.buildpath

# sbteclipse 플러그인
.표적

# Tern 플러그인
.tern-project

# TeXlipse 플러그인
.texlipse

# STS (스프링 툴 스위트)
.springBeans

# 코드 추천자
.recommenders /

# 주석 처리
.apt_generated /
.apt_generated_test /

# 스칼라 IDE 전용 (Eclipse 용 Scala & Java 개발)
.cache-main
.scala_dependencies
. 워크 시트

# 프로젝트 설명 파일을 무시하려면이 줄의 주석을 해제하십시오.
# 일반적으로이 파일은 빌드 / 종속성 구성이 포함 된 경우 추적됩니다.
#.계획

### 이클립스 패치 ###
# 스프링 부트 툴링
.sts4-cache /

### Intellij ###
# JetBrains IDE : IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm 및 Rider를 다룹니다.
# 참조 : https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# 사용자 별 물건
.idea / ** / workspace.xml
.idea / ** / tasks.xml
.idea / ** / usage.statistics.xml
.idea / ** / 사전
.idea / ** / shelf

# 생성 된 파일
.idea / ** / contentModel.xml

# 민감하거나 높은 파일
.idea / ** / dataSources /
.idea / ** / dataSources.ids
.idea / ** / dataSources.local.xml
.idea / ** / sqlDataSources.xml
.idea / ** / dynamic.xml
.idea / ** / uiDesigner.xml
.idea / ** / dbnavigator.xml

# Gradle
.idea / ** / gradle.xml
.idea / ** / 라이브러리

# 자동 가져 오기 기능이있는 Gradle 및 Maven
# 자동 가져 오기와 함께 Gradle 또는 Maven을 사용하는 경우 모듈 파일을 제외해야합니다.
# 재생성되므로 이탈이 발생할 수 있습니다. 사용중인 경우 주석 해제
# 자동 가져 오기.
#. 아이디어 / 유물
# .idea / compiler.xml
# .idea / jarRepositories.xml
# .idea / modules.xml
# .idea / *. iml
#. 아이디어 / 모듈
# * .iml
# * .ipr

# CMake
cmake-build-* /

# 몽고 탐색기 플러그인
.idea / ** / mongoSettings.xml

# 파일 기반 프로젝트 형식
* .iws

# IntelliJ
밖/

# mpeltonen / sbt-idea 플러그인
.idea_modules /

# JIRA 플러그인
atlassian-ide-plugin.xml

# 필기체 Clojure 플러그인
.idea / replstate.xml

# Crashlytics 플러그인 (Android Studio 및 IntelliJ 용)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# 에디터 기반 레스트 클라이언트
.idea / http 요청

# Android studio 3.1+ 직렬화 된 캐시 파일
.idea / caches / build_file_checksums.ser

### Intellij 패치 ###
# 댓글 이유 : https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# * .iml
# modules.xml
# .idea / misc.xml
# * .ipr

# Sonarlint 플러그인
.idea / ** / sonarlint /

# SonarQube 플러그인
.idea / ** / sonarIssues.xml

# 마크 다운 네비게이터 플러그인
.idea / ** / markdown-navigator.xml
.idea / ** / markdown-navigator-enh.xml
.idea / ** / markdown-navigator /

# 캐시 파일 생성 버그
# https://youtrack.jetbrains.com/issue/JBR-2257 참조
.idea / $ CACHE_FILE $

### Java ###
# 컴파일 된 클래스 파일
*.수업

# 로그 파일
*.로그

# BlueJ 파일
* .ctxt

# Java 용 모바일 도구 (J2ME)
.mtj.tmp /

# 패키지 파일 #
*.항아리
*.전쟁
* .nar
*.귀
*.지퍼
* .tar.gz
* .rar

# 가상 머신 충돌 로그, http://www.java.com/en/download/help/error_hotspot.xml 참조
hs_err_pid *

# https://www.toptal.com/developers/gitignore/api/java,intellij,eclipse의 끝
